<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />

	<link rel="stylesheet" href="{{url_for('static',filename='css/layout.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

	<script type="text/javascript" src="{{url_for('static',filename='js/layout.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}"></script>
	<title>Layout</title>
</head>
<body>
	<div class="wrapper">
		<nav class="navbar">
			<a class="navbar-brand"><i class="fas fa-dice"></i></a>
			<ul id="main-nav-ul" class="">
				<li><a href="">Item 1</a></li>
				<li><a href="">Item 1</a></li>
				<li><a href="">Item 1</a></li>
				<li><a href="">Item 1</a></li>
				<li><a href="">Item 1</a></li>
			</ul>
			<form id="main-nav-form" action="" class="ml-auto">
				<input type="text">
				<button>Go</button>
			</form>
			<div id="main-nav-tog" class="nav-tog">
				<i class="fas fa-ellipsis-v"></i>
			</div>
		</nav>
		<!--XNAV-->
		<div class="x-nav">
			<ul>
				<li><a href="">Item 1</a></li>
				<li><a href="">Item 1</a></li>
				<li><a href="">Item 1</a></li>
				<li><a href="">Item 1</a></li>
				<li><a href="">Item 1</a></li>
				<li>
					<form action="">
						<input type="text">
						<button>Go</button>
					</form>
				</li>
			</ul>
		</div>
		<!--USER-ROW-->
		<div class="user-row row">
			<div>Hello <span id="user-span">{{user}}</span></div>
			<form action="" class="ml-auto" method="POST">
				{{logoutForm.csrf_token}}
				{{logoutForm.username(id="logout-input")}}
				<button type="submit">Logout</button>
			</form>
		</div>
		<!--INFO-ROW-->
		<div class="info-row row">
			<i id="main-sidebar-tog" class="fas fa-bars"></i>
			<ul id="info-ul">
				<li>
					<span class="symb">$</span>
					<span class="rate">3.0000</span>
					<span class="x-change">4.0000</span>
					<span class="arrow">^</span>
				</li>
				<li>
					<span class="symb">$</span>
					<span class="rate">3.0000</span>
					<span class="x-change">4.0000</span>
					<span class="arrow">^</span>
				</li>
				<li>
					<span class="symb">$</span>
					<span class="rate">3.0000</span>
					<span class="x-change">4.0000</span>
					<span class="arrow">^</span>
				</li>
				<li>
					<span class="symb">$</span>
					<span class="rate">3.0000</span>
					<span class="x-change">4.0000</span>
					<span class="arrow">^</span>
				</li>
			</ul>
			<div id="info-tog" class="info-tog ml-auto">
				<i class="fas fa-ellipsis-v"></i>
			</div>
			
		</div>
		<div id="x-info" class="x-info-row">
			<ul>
				<li>
					<span class="symb">$</span>
					<span class="rate">3.0000</span>
					<span class="x-change">4.0000</span>
					<span class="arrow">^</span>
				</li>
				<li>
					<span class="symb">$</span>
					<span class="rate">3.0000</span>
					<span class="x-change">4.0000</span>
					<span class="arrow">^</span>
				</li>
				<li>
					<span class="symb">$</span>
					<span class="rate">3.0000</span>
					<span class="x-change">4.0000</span>
					<span class="arrow">^</span>
				</li>
				<li>
					<span class="symb">$</span>
					<span class="rate">3.0000</span>
					<span class="x-change">4.0000</span>
					<span class="arrow">^</span>
				</li>
			</ul>
		</div>
		<!--CONTENT-->
		<div class="content">
			<div id="main-sidebar" class="content-sidebar bg-danger">
				1
			</div>
			{% block body %}{% endblock %}
		</div>
		<div class="footer">Fotter</div>
	<!--END-->
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>